.DS_Store
*/node_modules
*/dist
app/src/firebase/index.ts
app/functions
*firestore.rules
.firebase*
backup/*

# local env files
api/.env
app/.env.*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
project-tree.txt

# Editor directories and files
.idea
.firebase
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.cache*
bin
obj
packages
firebase-service-account.json
env-vars.yaml
*appsettings*
